.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1e1e2f; /* Couleur sombre inspirée de la capture */
  color: #fff;
  padding: 10px 20px;
  height: 60px;
  width: calc(100% - 200px); /* Ajusté pour la nouvelle largeur de sidebar */
  position: fixed;
  top: 0;
  left: 200px; /* Aligné avec la nouvelle largeur de sidebar */
  z-index: 1000;
  border-radius: 0; /* Supprime les bordures arrondies */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Ombre pour un effet moderne */
}

.navbar-brand {
  display: none; /* Supprime le logo */
}

.navbar-search {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.navbar-search input {
  padding: 10px; /* Adjusted padding */
  border-radius: 5px;
  border: none;
  width: 350px; /* Adjusted width */
  padding-right: 40px; /* Add padding to make space for the icon */
}

.search-icon {
  position: absolute;
  right: 10px;
  font-size: 20px;
  color: #fff; /* Change icon color to white */
}

.navbar-icons {
  display: flex;
  align-items: center;
  gap: 20px; /* Augmente l'espacement entre les icônes */
  margin-right: 20px; /* Ajoute un espace pour éviter que les icônes soient trop à droite */
}

.navbar-icon {
  cursor: pointer;
  color: #b0b0b0; /* Couleur grise pour les icônes */
  font-size: 20px;
  transition: color 0.3s;
}

.navbar-icon:hover {
  color: #007bff; /* Couleur bleue au survol */
}

.user-initial {
  background-color: #343a40;
  color: #fff;
  border-radius: 50%;
  width: 35px; /* Augmente la taille pour une meilleure visibilité */
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px; /* Augmente la taille de la police */
  font-weight: bold;
}

.user-profile {
  position: absolute;
  top: 50px; /* Adjusted position */
  right: 0;
  background-color: #fff;
  color: #333;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 1001;
}

.user-profile p {
  margin: 5px 0;
}

.settings-dropdown {
  position: absolute;
  top: 50px; /* Adjusted position */
  right: 0;
  background-color: #fff;
  color: #333;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 1001;
}

.navbar-icon i {
  font-size: 22px; /* Adjusted icon size */
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.navbar-links li {
  margin: 0;
}

.navbar-links a {
  color: #fff;
  text-decoration: none;
}

.navbar-links a:hover {
  text-decoration: underline;
}
